/** @format */

.card {
  border: none;
  box-shadow: none;
}

.blogImage {
  position: relative;
  top: 5rem;
  width: 15rem;
  border: solid 1px #ddd;
  border-radius: 3rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 25;
}

.cardContent {
  border: solid 1px #ddd;
  border-radius: 3rem;
  padding: 3rem;
}
.cardTitle {
  text-transform: uppercase;
  font-weight: 700;
  color: #333;
  font-size: 1.3rem;
  /* padding: 0.8rem; */
}
.Title {
  text-transform: uppercase;
  font-weight: 700;
  color: #333;
  font-size: 2.5rem;
}

/* blogs list page styles */
.bannerImage {
  background: url("../../asserts/Asset10.png");
  background-size: 100%;
}
.feature_post_image {
  position: relative;
  top: 5rem;
  width: 25rem;
  border: solid 1px #ddd;
  border-radius: 3rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
