/** @format */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;1,500&family=Roboto:wght@100;300;400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.btn {
  margin-inline: 0.5rem;
  border-radius: 10px;
  padding: 10px 25px;
}
.btn-primary {
  background-color: rgb(248, 109, 132);
  border: rgb(248, 109, 132);
}

.btn-primary:hover {
  background-color: rgb(250, 143, 161);
  border: rgb(250, 143, 161);
}

.btn-secondary {
  background-color: rgb(88, 145, 102);
  border: rgb(88, 145, 102);
}
.btn-secondary:hover {
  background-color: rgb(89, 182, 112);
  border: rgb(89, 182, 112);
}
